.all-services-main-container {
    padding-top: 11vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.services-line {
    height: 1px;
    width: 90vw;
}

@media(max-width: 768px) {
    .all-services-main-container {
        height: 165vh;
    }
}