$primaryBlueColor: #01579b;
$lightBlueColor: #4f83cc;
$darkBlueColor: #002f6c;

$primaryOrangeColor: #ff6e40;
$lightOragneColor: #ffa06d;
$darkOrangeColor: #c53d13;

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 91vh;
  width: 100vw;
  display: block;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.Particles{
    background-color: #002f6c;
    height: 91vh;
}

.home-top-text{
    position:relative;
    padding-top: 9em;
    padding-left:30vw;
    padding-right:30vw;
    padding-bottom:1.5em;
    font-size: 1.3rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color:#d8d8d8d0;
    top: -103vh;
    opacity:1;
    z-index:2;
}

.home-top-jumbotron{
    padding-top: 0;
    padding-left: 0;
    height: 91vh;
    z-index:-11;
}

.home-top-jumbotron p{
    z-index:2; 
}

.Logo{
    z-index:2;
    width:8%;
    height:auto;
    position: relative;
    top: -83vh;
}

.Logoo{
    z-index:2;
    width:20%;
    height:auto;
    position:relative;
    top: -82vh;
}

.contact-Button-Home{
    position: relative;
    top:-103vh;
    border-radius: 0 !important;
}

@media(max-width:768px){
    .Logo{
        width:20%;
    }
    .Logoo{
        width:40%;
    }

}

.home-element {
    height: 91vh;
    width: 100vw;
    padding-top: 9vh;
    font-family: 'PT Sans Narrow', sans-serif;
}

.home-technologies {
    height: 91vh;
    width: 100vw;
    padding-top: 9vh;
    font-family: 'PT Sans Narrow', sans-serif;
}

.language-icon {
    height: 20%;
    width: 45%;
}

.technology-line {
    width: 5;
}

.home-services {
    height: 195vh;
    width: 100vw;
    padding-top: 9vh;
}

@media(max-width: 975px) {
    .home-top-text{
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

@media(max-width: 720px) {
    .home-top-text{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media(max-width: 770px) {
    .home-services {
        height: 240vh;
    }
    .home-technologies {
        height: 140vh;
    }
}