.security-home-heading{
    padding-top: 2vh;
    padding-bottom: 3vh;
}
.security-text{
    padding-right: 2vw;
    padding-left: 2vw;
}
.security-content{
    padding-top: 4vh;
    padding-bottom: 6vh;
}