.top-services-row {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.services-row {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.services-label {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color:#303f9f;
}

.services-container {
    padding-top: 5vh;
  
}

.services-horizontal-line {
    width: 5;
    margin-left: -1vw;
}

.services-home-heading {
    color: black;
}

p {
   font-size:20px ;
}