.top-services-row {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.services-row {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.services-label {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color:#303f9f;
}

.services-container {
    padding-top: 3vh;
    padding-bottom : 3vh;
  
}

.services-horizontal-line {
    width: 5;
    margin-left: -1vw;
}

.services-home-heading {
    color: black;
}

p {
   font-size:20px ;
}