.technologies-container{
    position: relative;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}
.technology-line {
    width: 6;
    margin-left: -1vw;
}
h4{
    color:#303f9f;
    padding-top: 2vh;
    padding-bottom: 3vh;
}