.about-main-container {
    padding-top: 9vh;
   
}

.about-sub-container {
    height: 91vh;
    width: 100vw;
 
}

.jumbo{
    height: 83vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}



.vertical-founders-spacer {
    height: 91vh;
    width: 5vw;
}
.about-jumbo-image{
    height: 83vh;
    width: 100vw;
    z-index: 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    overflow: hidden;
}
.about-jumbo-text{
    position: absolute;;
    color:white;
    padding-left:25vw;
    padding-right:25vw;
    margin-top:-60vh;
    text-align: center;
    z-index: 1;
    
}

.founders-cards{
    position:relative;
    margin-left:50%;
    margin-right:50%;
}