$primaryBlueColor: #01579b;
$lightBlueColor: #4f83cc;
$darkBlueColor: #002f6c;

$primaryOrangeColor: #ff6e40;
$lightOragneColor: #ffa06d;
$darkOrangeColor: #c53d13;

.footer {
    background-color: rgb(33, 33, 33);
    color: white;
    height: 40vh;
}