.navbar-container {
    height: 9vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 45, 45);
    z-index: 4;
}

.navbar-left-spacer {
    height: 9vh;
    width: 10vw;
}

.navbar-brand {
    height: 9vh;
    width: 30vw;
}

.navbar-right-spacer {
    height: 9vh;
    width: 10vw;
}

.navbar-buttons {
    height: 8vh;
    width: 25vw;
    padding-top: 1vh;
    color: white;
}

img {
    height: 7vh;
    width: auto;
}

@media(max-width: 858px) {
    .navbar-buttons {
        display: none;
    }
}

//.navbar-brand {
//    position: absolute;
//    width: 100%;
//    left:0;
//    top:0;
//    margin:auto;
//    padding:0;
//}

//.navbar-toggle {
//    z-index:1;
//}