.navbar-container {
    height: 9vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 45, 45);
    z-index: 4;
}



.navbar-brand {
    height: 9vh;
    width: 30vw;
    align-items: center;
    margin-right: auto;
    
}



.navbar-links {
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-right: 3vw;
}
.navbar-links a {
    font-size: 18px;
    color: white;
    text-decoration:none
}
.navbar-links-open a{
    font-size: 18px;
    color: white;
    text-decoration:none
}
.navbar-links a :hover{
    color: rgba(255, 255, 255, 0.582);
}

img {
    height: 7vh;
    width: auto;
}

@media screen and (max-width: 858px) {
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .navbar-container{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .hamburger-open{
        position: fixed;
        cursor: pointer;
        right: 3%;
        top:  3%;
        
        z-index: 2;
    }
    .navbar-links {
        display:none;
        
    }
    .home-element{
        padding-top: 0px;
        margin-top: 0px;
        height: 100vh;
    }
    .navbar-links-open{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        position: fixed;
        background: rgb(50, 45, 45); 
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(5000px at 90% -20%);
        -webkit-clip-path: circle(5000px at 90% -20%);
        html, body {
            max-height: 100vh;
            overflow-y: hidden;
        }
    }
    
}

//.navbar-brand {
//    position: absolute;
//    width: 100%;
//    left:0;
//    top:0;
//    margin:auto;
//    padding:0;
//}

//.navbar-toggle {
//    z-index:1;
//}